body {
  margin: 0;
  font-family: "Roboto Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(117, 111, 111) !important;
}

.container {
  margin: auto;
}

.css-ivnu1y-MuiPaper-root-MuiAppBar-root {
  background-image: linear-gradient(to left, #ce93d8, #6a1b9a);
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 40px !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  padding-left: 30px !important;
}

.css-10hburv-MuiTypography-root {
  font-family: "Roboto Mono", monospace !important;
  font-weight: 600 !important;
  color: rgb(117, 111, 111) !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  color: #6a1b9a !important;
  border: 1px solid #6a1b9a !important;
}
